@model IEnumerable<DD.Models.KhuyenMai>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="~/css/khuyenmai.css"> <!-- Liên kết tới file CSS của bạn -->

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
<style>
    /* Định dạng cho bảng */
    .table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
    }

        .table thead th {
            background-color: #f8f9fa;
            color: #333;
            padding: 10px;
            text-align: left;
            border-bottom: 2px solid #dee2e6;
        }

        .table tbody td {
            padding: 10px;
            border-bottom: 1px solid #dee2e6;
        }

        /* Định dạng cho ảnh trong bảng */
        .table img {
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

    /* Định dạng cho các nút */
    .btn {
        margin: 10px 5px;
        padding: 10px 20px;
        color: #fff;
        background-color: #28a745;
        border: none;
        border-radius: 4px;
        text-decoration: none;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

        .btn:hover {
            background-color: #218838;
        }

    /* Định dạng cho các liên kết xóa/sửa */
    .link-edit {
        color: #007bff;
        text-decoration: none;
        font-weight: bold;
        margin-right: 10px;
    }

        .link-edit:hover {
            color: #0056b3;
            text-decoration: underline;
        }
</style>
<h2>Danh sách khuyến mãi</h2>

<table class="table">
    <thead>
        <tr>
            <th>Mã khuyến mãi</th>
            <th>Tên khuyến mãi</th>

            <th>Mô tả</th>
            <th>Thời gian bắt đầu</th>
            <th>Thời gian kết thúc</th>
            <th>Mã sản phẩm KM</th>
            <th>Hình ảnh</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MaKhuyenMai</td>
                <td>@item.TenKhuyenMai</td>

                <td>@item.MoTa</td>
                <td>@item.NgayBatDau.ToString("dd/MM/yyyy")</td>
                <td>@item.NgayKetThuc.ToString("dd/MM/yyyy")</td>
                <td>@item.MaSanPhamKM</td>

                <td>
                    <img src="@Url.Content(item.HinhAnh)" alt="Hình ảnh sản phẩm" style="width: 100px; height: auto;" /> <!-- Có thể thêm style để điều chỉnh kích thước -->
                </td>
                <td>

                    <a href="@Url.Action("Delete", new { id = item.MaKhuyenMai })" class="link-edit">Xóa </a>
                    <a href="@Url.Action("Edit", new { id = item.MaKhuyenMai })" class="link-edit">Sửa</a>

                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create", "QLKhuyenMai")" class="btn btn-success">Thêm khuyến mãi mới</a>
