@model DD.Models.NguoiDung

<h2>Thông tin cá nhân</h2>

<p><strong>Tên đăng nhập:</strong> @Model.TenDangNhap</p>
<p><strong>Họ và tên:</strong> @Model.TenKH</p>
<p><strong>Email:</strong> @Model.Email</p>
<p><strong>Điện thoại:</strong> @Model.SoDienThoai</p>
<p><strong>Địa chỉ:</strong> @Model.DiaChi</p>
<p><strong>Giới tính:</strong> @Model.GioiTinh</p>