@using DD.Models
@model DD.Models.RegisterViewModel

<h2>Đăng ký tài khoản mới</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.TenKH)
        @Html.TextBoxFor(m => m.TenKH, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.GioiTinh)
        @Html.TextBoxFor(m => m.GioiTinh, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.ThangSinh)
        @Html.TextBoxFor(m => m.ThangSinh, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DiaChi)
        @Html.TextBoxFor(m => m.DiaChi, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.SoDienThoai)
        @Html.TextBoxFor(m => m.SoDienThoai, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.TenDangNhap)
        @Html.TextBoxFor(m => m.TenDangNhap, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.MatKhau)
        @Html.PasswordFor(m => m.MatKhau, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Đăng ký</button>
}

