@model DD.Models.TichDiem

<h2>Sửa thông tin người dùng</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.ID)
    <div>
        @Html.LabelFor(model => model.maKH)
        @Html.TextBoxFor(model => model.maKH)
    </div>
    <div>
        @Html.LabelFor(model => model.tenKH)
        @Html.TextBoxFor(model => model.tenKH)
    </div>
    <div>
        @Html.LabelFor(model => model.diem)
        @Html.TextBoxFor(model => model.diem)
    </div>
    <button type="submit">Lưu</button>
    @Html.ActionLink("Hủy", "Index", null, new { @class = "btn btn-danger" })
}
