@foreach (var user in Model)
{
    <tr>
        <td>@user.MaKH</td>
        <td>@user.TenKH</td>
        <td>@user.Email</td>
        <td>
            <button class="btn btn-danger" onclick="deleteUser('@user.MaKH')">Xóa</button>
            <a href="@Url.Action("Edit", new { maKH = user.MaKH })" class="btn btn-warning">Sửa</a>
        </td>
    </tr>
}

