@model DD.Models.QLUserViewModel




<h2>Sửa Thông Tin Người Dùng</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.MaKH)
    <div>
        @Html.LabelFor(m => m.TenKH)
        @Html.TextBoxFor(m => m.TenKH)
    </div>
    <div>
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email)
    </div>
    <div>
        @Html.LabelFor(m => m.GioiTinh)
        @Html.TextBoxFor(m => m.GioiTinh)
    </div>
    <div>
        @Html.LabelFor(m => m.ThangSinh)
        @Html.TextBoxFor(m => m.ThangSinh)
    </div>
    <div>
        @Html.LabelFor(m => m.DiaChi)
        @Html.TextBoxFor(m => m.DiaChi)
    </div>
    <div>
        @Html.LabelFor(m => m.SoDienThoai)
        @Html.TextBoxFor(m => m.SoDienThoai)
    </div>
    <div>
        @Html.LabelFor(m => m.TenDangNhap)
        @Html.DisplayFor(m => m.TenDangNhap)
    </div>
    <div>
        @Html.LabelFor(m => m.MatKhau)
        @Html.DisplayFor(m => m.MatKhau)
    </div>
    <input type="submit" value="Cập Nhật" />
    @Html.ActionLink("Hủy", "Index", null, new { @class = "btn btn-danger" })

}
