@model IEnumerable<DD.Models.QLUserViewModel>


@{
    ViewBag.Title = "Quản Lý Người Dùng";
}

<div class="container">
    <h2 class="text-center">Quản Lý Người Dùng</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Mã Khách Hàng</th>
                <th>Tên Khách Hàng</th>
                <th>Email</th>
                <th>Giới Tính</th>
                <th>Tháng Sinh</th>
                <th>Địa Chỉ</th>
                <th>Số Điện Thoại</th>
                <th>Tên Đăng Nhập</th>
                <th>Hành Động</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.MaKH</td>
                    <td>@user.TenKH</td>
                    <td>@user.Email</td>
                    <td>@user.GioiTinh</td>
                    <td>@(user.ThangSinh.HasValue ? user.ThangSinh.Value.ToString() : "Không có")</td>
                    <td>@user.DiaChi</td>
                    <td>@user.SoDienThoai</td>
                    <td>@user.TenDangNhap</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = user.MaKH }) |
                        @Html.ActionLink("Xóa", "Delete", new { maKH = user.MaKH }, new { @onclick = "return confirm('Bạn có chắc chắn muốn xóa?');" })
                    </td>
                </tr>

            }
        </tbody>
    </table>
    @Html.ActionLink("Thêm Người Dùng", "Create", null, new { @class = "btn btn-primary" })
</div>