<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/layoutad.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block sidebar">
                <h4 class="sidebar-heading">Admin Menu</h4>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <button class="btn btn-primary show-section" data-target="#danh-gia-partial">Quản lý đánh giá</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-primary show-section" data-target="#tich-diem-partial">Quản lý tích điểm</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-primary show-section" data-target="#san-pham-partial">Quản lý sản phẩm </button>
                    </li>


                    <li class="nav-item">
                        <button class="btn btn-primary show-section" data-target="#khuyen-mai-partial">Quản lý khuyến mãi</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-primary show-section" data-target="#user-management-partial">Quản lý người dùng</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-primary show-section" data-target="#san-pham-khuyen-mai-partial">Quản lý sản phẩm khuyến mãi</button>
                    </li>

                </ul>
                <div class="logo">
                    <h1>DOMDOM</h1>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="container" id="main-content">
                    @RenderBody()

                    <div id="user-management-partial" style="display: none;">
                        @Html.Action("Index", "QuanLyUser")
                    </div>

                    <div id="danh-gia-partial" style="display: none;">
                        @Html.Action("Index", "QuanLiBinhLuan")
                    </div>

                    <div id="tich-diem-partial" style="display: none;">
                        @Html.Action("Index", "QuanLyTichDiem")
                    </div>

                    <div id="khuyen-mai-partial" style="display: none;">
                        @Html.Action("Index", "QLKhuyenMai")
                    </div>
                    <div id="san-pham-partial" style="display: none;">
                        @Html.Action("Index", "SanPham")
                    </div>
                    <div id="san-pham-khuyen-mai-partial" style="display: none;">
                        @Html.Action("Index", "SanPhamKhuyenMai")
                    </div>
                    
                </div>
            </main>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            // Khi nhấn vào nút, hiển thị phần tương ứng và ẩn các phần còn lại
            $('.show-section').click(function () {
                var target = $(this).data('target');

                // Ẩn tất cả các phần
                $('#user-management-partial, #danh-gia-partial, #tich-diem-partial, #khuyen-mai-partial, #san-pham-khuyen-mai-partial, #san-pham-partial').hide();

                // Hiện phần tương ứng
                $(target).show();
            });
        });
    </script>
</body>
</html>
