@model DD.Models.CuaHang

<h1>Chỉnh Sửa Cửa Hàng</h1>

@using (Html.BeginForm("Edit", "QLCuaHang", FormMethod.Post, new { @class = "form", role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.macuahang)

    <div class="form-group">
        @Html.LabelFor(m => m.makhuyenmai, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.makhuyenmai, new { @class = "form-control", placeholder = "Nhập mã khuyến mãi" })
        @Html.ValidationMessageFor(m => m.makhuyenmai, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.diachi, new { @class = "control-label" })
        @Html.TextBoxFor(m => m.diachi, new { @class = "form-control", placeholder = "Nhập địa chỉ cửa hàng" })
        @Html.ValidationMessageFor(m => m.diachi, "", new { @class = "text-danger" })
    </div>

    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary btn-lg">Lưu Thay Đổi</button>
        @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-secondary btn-lg ml-2" })
    </div>
}
