@model DD.Models.NguoiDung

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <div>
        <h4>NguoiDung</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.MaKH)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MaKH)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TenKH)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenKH)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GioiTinh)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GioiTinh)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ThangSinh)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ThangSinh)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DiaChi)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DiaChi)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SoDienThoai)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TenDangNhap)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TenDangNhap)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MatKhau)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MatKhau)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
