@model DD.Models.NguoiDung

@{
    Layout = null;
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />

}
<style>
    body {
        background-color: #003366; /* Nền xanh lá */
        color: black; /* Chữ trắng */
        font-family: Arial, sans-serif; /* Phông chữ */
    }

    .form-horizontal {
        background-color: rgba(255, 255, 255, 0.9); /* Nền trắng trong suốt cho khung */
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h4 {
        color: snow; /* Tiêu đề màu đỏ */
        font-size: 28px; /* Kích thước tiêu đề lớn */
    }

    .btn {
        background-color: #f44336; /* Nút màu đỏ */
        color: white; /* Chữ nút màu trắng */
    }

        .btn:hover {
            background-color: #c62828; /* Màu nút khi hover */
        }

    .text-danger {
        color: red; /* Màu cho thông báo lỗi */
    }
</style>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>NguoiDung</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("Mã Khách Hàng", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.MaKH, new { htmlAttributes = new { @class = "form-control" } })  <!-- Hiển thị mật khẩu -->
                    @Html.HiddenFor(model => model.MaKH)  <!-- Trường ẩn để gửi lại mật khẩu -->


                </div>
            </div>

            <div class="form-group">
                @Html.Label("Tên Khách Hàng", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.TenKH, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenKH, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Giới Tính", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.GioiTinh, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.GioiTinh, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Tháng Sinh", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ThangSinh, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ThangSinh, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Địa Chỉ", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Số Điện Thoại", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.SoDienThoai, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.SoDienThoai, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Tên Đăng Nhập", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.TenDangNhap, new { htmlAttributes = new { @class = "form-control" } })  <!-- Hiển thị mật khẩu -->
                    @Html.HiddenFor(model => model.TenDangNhap)  <!-- Trường ẩn để gửi lại mật khẩu -->
                    <!-- Trường ẩn để gửi lại mật khẩu -->

                </div>
            </div>

            <div class="form-group">
                @Html.Label("Mật Khẩu", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" } })  <!-- Hiển thị mật khẩu -->
                    @Html.HiddenFor(model => model.MatKhau)  <!-- Trường ẩn để gửi lại mật khẩu -->
                    <!-- Trường ẩn để gửi lại mật khẩu -->

                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

<div>
    <a href="@Url.Action("Index", "Admin")" class="btn">Quay về menu chính</a>
</div>
</body>
</html>
