@model DD.Models.qldanhgia

@{
    ViewBag.Title = "Xóa Đánh Giá";
}

<h2>Xóa Đánh Giá</h2>

<div>
    <h4>Đánh Giá</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.MaDangGia)</dt>
        <dd>@Html.DisplayFor(model => model.MaDangGia)</dd>
        <dt>@Html.DisplayNameFor(model => model.MaKH)</dt>
        <dd>@Html.DisplayFor(model => model.MaKH)</dd>
        <dt>@Html.DisplayNameFor(model => model.NoiDung)</dt>
        <dd>@Html.DisplayFor(model => model.NoiDung)</dd>
        <dt>@Html.DisplayNameFor(model => model.SoSao)</dt>
        <dd>@Html.DisplayFor(model => model.SoSao)</dd>
    </dl>

    @using (Html.BeginForm("Delete", "QLDanhGia", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <p>Bạn có chắc chắn muốn xóa đánh giá này không?</p>
        <input type="hidden" name="maDangGia" value="@Model.MaDangGia" />
        <button type="submit">Xóa</button>
        @Html.ActionLink("Quay lại", "Index")
    }
</div>

