@model DD.Models.SanPhamKhuyenMai
<style>
    body {
        background-color: #003366; /* Nền xanh lá */
        color: black; /* Chữ trắng */
        font-family: Arial, sans-serif; /* Phông chữ */
    }

    .form-horizontal {
        background-color: rgba(255, 255, 255, 0.9); /* Nền trắng trong suốt cho khung */
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h4 {
        color: snow; /* Tiêu đề màu đỏ */
        font-size: 28px; /* Kích thước tiêu đề lớn */
    }

    .btn {
        background-color: #f44336; /* Nút màu đỏ */
        color: white; /* Chữ nút màu trắng */
    }

        .btn:hover {
            background-color: #c62828; /* Màu nút khi hover */
        }

    .text-danger {
        color: red; /* Màu cho thông báo lỗi */
    }
</style>
<h2>Xóa sản phẩm khuyến mãi</h2>

<div>
    <h4>Sản phẩm khuyến mãi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaSanPhamKM)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MoTaKhuyenMai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MoTaKhuyenMai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MoTaKhuyenMai)
        </dd>
    </dl>

    <h4>Bạn có chắc chắn muốn xóa sản phẩm này không?</h4>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@Model.MaSanPhamKM" />
        <input type="submit" value="Xóa" class="btn btn-danger" />
        @Html.ActionLink("Hủy", "Index", null, new { @class = "btn btn-secondary" })
    }
</div>
